body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
    /* Prevent body scroll */
}

.container {
    max-width: 800px;
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: auto;
}

.title-card {
    background: #43d768;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.content {
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
    overflow-x: auto;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.sensor-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 50px;
    padding: 50px;
    justify-items: center;
}

.history-data {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-items: center;
    overflow-y: auto;
    overflow-x: auto;
}

.card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.card:hover {
    transform: translateY(-10px);
}

.sensor-info {
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #666;
}

.sensor-info i {
    margin-right: 10px;
    color: #4caf50;
}

.sensor-value {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#emergency-alert {
    color: red;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Popup Styles */
.popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #f44336;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 300px;
    animation: fadeIn 0.5s;
}

.popup-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}