<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="title-card">
            <h1>Health Monitoring System</h1>
        </div>
        <div class="content">
            <div id="emergency-alert" class="hidden">Emergency! Sudden movement detected!</div>

            <div>
                <h2>Live Sensor Data</h2>
            </div>

            <div class="sensor-data">
                <div class="card">
                    <div class="sensor-info">
                        <i class="fas fa-thermometer-half"></i>
                        <p>Body Temperature</p>
                    </div>
                    <div class="sensor-value">
                        <span id="body-temperature">Loading...</span> °C
                    </div>
                </div>
                <div class="card">
                    <div class="sensor-info">
                        <i class="fas fa-lungs"></i>
                        <p>Blood Oxygen</p>
                    </div>
                    <div class="sensor-value">
                        <span id="blood-oxygen">Loading...</span> %
                    </div>
                </div>
                <div class="card">
                    <div class="sensor-info">
                        <i class="fas fa-heartbeat"></i>
                        <p>Heart Beats</p>
                    </div>
                    <div class="sensor-value">
                        <span id="heart-beats">Loading...</span> bpm
                    </div>
                </div>
                <div class="card">
                    <div class="sensor-info">
                        <i class="fas fa-tint"></i>
                        <p>Room Humidity</p>
                    </div>
                    <div class="sensor-value">
                        <span id="room-humidity">Loading...</span> %
                    </div>
                </div>
                <div class="card">
                    <div class="sensor-info">
                        <i class="fas fa-thermometer-empty"></i>
                        <p>Room Temperature</p>
                    </div>
                    <div class="sensor-value">
                        <span id="room-temperature">Loading...</span> °C
                    </div>
                </div>
                <div class="card">
                    <div class="sensor-info">
                        <i class="fa-solid fa-person-walking"></i>
                        <p>Step Count</p>
                    </div>
                    <div class="sensor-value">
                        <span id="step-count">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="history-data">
                <h2>Historical Data</h2>
                <div class="card">
                    <div id="body-temperature-chart"></div>
                </div>
                <div class="card">
                    <div id="blood-oxygen-chart"></div>
                </div>
                <div class="card">
                    <div id="heart-beats-chart"></div>
                </div>
                <div class="card">
                    <div id="room-humidity-chart"></div>
                </div>
                <div class="card">
                    <div id="room-temperature-chart"></div>
                </div>
                <div class="card">
                    <div id="step-count-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Audio element for emergency sound -->
    <audio id="emergency-sound" src="/static/audio/alert.mp3" preload="auto"></audio>

    <script src="/static/js/app.js"></script>
</body>

</html>